extends genericLayout
block content
  .container.pageCenter
    h1.pageTitle Add note here!
    img.userImage(src="user_image.png" alt="User Image")
    br
    form(role='form', class='formCenter', action="/notes", method="post")
      .form-group
          input.form-control(type='text', name="title", placeholder='Enter title here...')
      .form-group
        textarea.form-control(placeholder="Start typing here..." name="message")
      button.btn.btn-secondary(type='submit') Submit
       &nbsp;
      a(href='/')
        button.btn.btn-danger#cancel(type="button") Cancel
        &nbsp;
    section.get
        h3 Get Data
        a(href='#')
          button.btn.btn-primary#btnGetData(type='button') Get all notes
        div#displayData
          div#rowData
          div#rowData2    
                        
