extends genericLayout
block content
  .container.pageCenter
    h1.pageTitle Add note here!
    img.userImage(src="user_image.png" alt="User Image")
    br
    form(role='form', class='formCenter', action="/notes", method="post")
      .form-group
          input.form-control(type='text', name="title", placeholder='Enter title here...')
      .form-group
        textarea.form-control(placeholder="Start typing here..." name="message")
      button.btn.btn-secondary(type='submit') Submit
      a(href='/')
        button.btn.btn-danger.btnCancel(type="button") Cancel
    section.get
        h3 Get Data
        a(href='#')
          button.btn.btn-primary#btnGetData(type='button') Get all notes
        div#displayData
          div#rowData3
          div#rowData  
          div#rowData2  
    h1.pageTitle Update note here!
        img.noteImage(src="update-note.jpg" alt="Update notes image")                   
    form(role='form', class='formCenter', action="/updateNotes", method="post")
            .form-group
                input.form-control(type='text', name="id", placeholder='Enter ID here...')
            .form-group
                input.form-control(type='text', name="title", placeholder='Enter updated title here...')
            .form-group
                textarea.form-control(placeholder="Enter updated message here..." name="message")
            button.btn.btn-secondary#btnUpdateData(type='submit') Update
            a(href='/')
              button.btn.btn-danger.btnCancel(type="button") Cancel
              hr.divider
     h1.pageTitle#deleteMargin Delete note here!
        img.noteImage(src="delete-note.jpg" alt="Delete notes image")
     form(role='form', class='formCenter', action="/deleteNotes", method="post")
              .form-group
                  input.form-control(type='text', name="id", placeholder='Enter ID here...')
              button.btn.btn-secondary#btnDeleteData(type='submit') Delete
              a(href='/')
                button.btn.btn-danger.btnCancel(type="button") Cancel
