html{margin:0px; height:100%;}
body {margin:0px;font-family: Arial, Helvetica, sans-serif;}

#top-bar{margin-top:0px;width:100%; background-color:grey;height:75px;}
#top-bar-right{float:right;margin-right:8px;}

#main-left{float:left;width:33.33%;height:300px;background-color:black;display:inline-block;}
#main-center{margin:auto;width:33.33%;height:300px;background-color:black;display:inline-block;}

#mid-left{float:left;width:33.33%;height:300px;background-color:AntiqueWhite;display:inline-block;}
#mid-center{margin:auto;width:33.33%;height:300px;background-color:AntiqueWhite;display:inline-block;}

#btm-left{float:left;width:33.33%;height:300px;background-color:brown;display:inline-block;}
#btm-center{margin:auto;width:33.33%;height:300px;background-color:brown;display:inline-block;}
#btm-right{float:right;width:33.33%;height:300px;background-color:brown;display:inline-block;}
/* ///////////// CALENDAR \\\\\\\\\\\\\ */
#googleCalendar{float:right;width:33.33%;height:600px;background-color:black;display:inline-block;}
#calendarIframe{display:inline-block;}
/* ///////////// END CALENDAR \\\\\\\\\\\\\ */

/* ///////////// BUTTONS \\\\\\\\\\\\\ */
button { background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;cursor: pointer;width: 100%;}

button:hover {opacity: 0.8;}

.btnCancel {width: auto;padding: 10px 18px;background-color: #f44336;}

.modalClose {position: absolute;right: 25px;top: 0;color: #000;font-size: 35px;font-weight: bold;}/* (x) Button */

.modalClose:hover,.modalClose:focus {color: red;cursor: pointer;}

/* ///////////// END BUTTONS \\\\\\\\\\\\\ */


/* ///////////// IMAGES \\\\\\\\\\\\\ */

.containerImg {text-align: center; margin: 24px 0 12px 0;position: relative;}/* Center image and position close button */

img.userImage {width: 40%;border-radius: 50%;}

/* ///////////// END IMAGES \\\\\\\\\\\\\ */

/* ///////////// MODAL \\\\\\\\\\\\\ */

/* The Modal (background) */
.modal {display: none; position: fixed; z-index: 1; left: 0;top: 0;width: 100%;height: 100%;overflow: auto;
background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);padding-top: 60px;}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 60%; 
}

/* ///////////// END MODAL \\\\\\\\\\\\\ */

.contentContainer {padding: 16px;}

span.passWord{float: right;padding-top: 16px;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Zoom animation for Login Modal*/
.zoomAnimation {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change span and cancel on small screens for modal*/
@media screen and (max-width: 300px) {
  span.passWord {
     display: block;
     float: none;
  }
  .btnCancel {
     width: 100%;
  }
}