.formCenter{margin:0 auto;max-width: 300px;}
h1.pageTitle{text-align:center;}
.pageCenter{margin-top:100px;padding-top:100px;margin-bottom:100px;padding-bottom:100px;background-color:AntiqueWhite;}
.backgroundImage{background-image: url(../forest-background2.jpg);}
.userImage{height:200px;width:200px;margin-left:120px;margin-bottom:15px;}
#cancel{margin-left:5px;}
table, th, td {border:1px solid black;}
#rowData{display:inline-block;float:left;padding:1rem;}
#rowData2{display:inline-block;margin-left:30px;padding:1rem;}
#btnGetData{margin-bottom:10px;}
body{height:100vh;}
html{min-height:100%;}
#titleList,#messageList{list-style-type: none;background-color:white;border:1px solid black !important;padding: 1rem;min-height:250px;max-height:250px;}
#messageList{max-width:500px;}
#displayData{background-color:pink;overflow: hidden;border: 1px solid black; display:grid; grid-template-columns:calc(52% - 1rem * 1/2)calc(49% - 1rem * 1/2);}
@media screen and (max-width: 500px){

		.userImage{margin-left:90px;margin-bottom:15px;}

}
@media screen and (max-width: 375px){

		.userImage{margin-left:80px;margin-bottom:15px;}

}
@media screen and (max-width: 345px){

		.userImage{margin-left:60px;margin-bottom:15px;}

}
